.translaterTitle {
  font-size: 48px;
  font-weight: 700;
}
.translaterDescription {
  font-size: 18px;
  font-weight: 400;
  color: #000;
  text-align: center;
  margin-top: 16px;
  display: flex;
  justify-content: center;
}
.translaterDescription p {
  width: 840px;
}
.contatBtnDiv {
  display: flex;
  gap: 20px;
  justify-content: center;
}
a {
  text-decoration: none !important ;
}
.contactSignUpLink {
  padding: 10px 15px;
  background: #000;
  border-radius: 100px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}
.contactBtn {
  background-color: #f2f2f2;
  color: #000;
}
.contactSignUpLink:hover {
  background-color: #6e6e6e;
}
.gap-10 {
  gap: 10px;
}
.tabBtn {
  display: flex;
  gap: 10px;
  outline: 2px solid transparent;

  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}
.tabIcon {
  font-size: 22px;
}
