
body{
   font-family: "WaldenburgHF", "WaldenburgHF Fallback", sans-serif !important;
}
.mt-100{
  margin-top: 100px;
}
.mt-64{
  margin-top: 64px;
}
@font-face {
  font-family: "WaldenburgHF";
  src: url("/fonts/WaldenburgHF.woff2") format("woff2"),
       url("/fonts/WaldenburgHF.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WaldenburgHF Fallback";
  src: url("/fonts/WaldenburgHF-Fallback.woff2") format("woff2"),
       url("/fonts/WaldenburgHF-Fallback.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
